.counter {
  position: relative;
  padding-top: 30%;
  background: center/cover no-repeat;
  background-image: image-set(
    url("../img/counter-BG.webp") type("image/webp"),
    url("../img/counter-BG.jpeg") type("image/jpeg")
  );

  &__wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 20px;
  }

  &__waiting {
    font-weight: 700;
    font-size: 60px;
    font-family: var(--Nickainley-Normal);
  }
}

@include laptop-L {
  .counter {
    padding-top: 35%;
    &__wrap {
      padding: 30px;
    }

    &__waiting {
      font-size: 40px;
    }
  }
}

@include laptop {
  .counter {
    padding-top: 30%;
    &__wrap {
      padding: 20px;
    }

    &__waiting {
      font-size: 32px;
    }
  }
}

@include tablet {
  .counter {
    padding-top: 35%;

    &__waiting {
      font-size: 28px;
    }
  }
}

@include mobile {
  .counter {
    padding-top: 56.25%;
  }
}
