.details {
  padding: 35px 0 140px;
  &__title {
    font-weight: 700;
    font-size: 60px;
    font-family: var(--Resphekt);
    margin-bottom: 10px;
  }

  &__desc {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  &__item {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    &_one {
      background-color: rgb(232, 219, 200);
    }

    &_two {
      background-color: rgb(200, 161, 147);
    }

    &_three {
      background-color: rgb(187, 187, 187);
    }

    &_four {
      background-color: rgb(161, 129, 106);
    }

    &_five {
      background-color: rgb(53, 69, 43);
    }

    &_six {
      background-color: rgb(0, 0, 0);
    }
  }
}

@include laptop-L {
  .details {
    padding: 20px 0 70px;
    &__title {
      font-size: 40px;
      margin-bottom: 10px;
    }

    &__desc {
      text-align: center;
      font-size: 22px;
    }
  }
}

@include laptop {
  .details {
    padding: 15px 0 60px;
    &__title {
      font-size: 32px;
      margin-bottom: 8px;
    }

    &__desc {
      font-size: 18px;
      margin-bottom: 10px;
    }

    &__list {
      gap: 10px;
    }

    &__item {
      width: 30px;
      height: 30px;
    }
  }
}

@include tablet {
  .details {
    padding: 10px 0 40px;
    &__title {
      font-size: 28px;
      margin-bottom: 5px;
    }

    &__desc {
      font-size: 20px;
    }

    &__list {
      gap: 10px;
    }

    &__item {
      width: 30px;
      height: 30px;
    }
  }
}

@include tablet {
  .details {
    padding: 10px 0 20px;
  }
}
