.details {
  padding: 35px 0 140px;
  &__title {
    font-weight: 700;
    font-size: 60px;
    font-family: var(--Resphekt);
    margin-bottom: 10px;
  }

  &__desc {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  &__item {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    &_one {
      background-color: rgb(232, 219, 200);
    }

    &_two {
      background-color: rgb(200, 161, 147);
    }

    &_three {
      background-color: rgb(187, 187, 187);
    }

    &_four {
      background-color: rgb(161, 129, 106);
    }

    &_five {
      background-color: rgb(53, 69, 43);
    }

    &_six {
      background-color: rgb(0, 0, 0);
    }
  }
}
