.footer {
  padding: 140px 0 20px;

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  &__descriptions {
    margin-bottom: 20px;
  }

  &__desc {
    font-weight: 400;
    font-size: 60px;
    font-family: var(--Nickainley-Normal);
    &_love {
      margin-left: -40px;
    }
    &_family {
    }
  }

  &__organizers {
  }

  &__title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 10px;
  }

  &__list {
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__organizer {
    font-weight: 700;
    font-size: 22px;
    font-family: var(--Calibri);
    &_link {
      font-weight: 400;
      font-size: 24px;
      font-family: var(--Nickainley-Normal);
      transition: color 0.3s ease-in-out;
      @include hover {
        color: var(--hover-link-color);
      }
      &:active {
        color: var(--active-link-color);
      }
    }
  }

  &__bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid var(--main-border);
  }

  &__bottom-desc {
    font-weight: 400;
    font-size: 14px;
  }

  &__bottom-link {
    font-weight: 700;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
    @include hover {
      color: var(--hover-link-color);
    }
    &:active {
      color: var(--active-link-color);
    }
  }
}

@include laptop-L {
  .footer {
    padding: 70px 0 10px;

    &__top {
      margin-bottom: 20px;
    }

    &__descriptions {
      margin-bottom: 10px;
    }

    &__desc {
      font-size: 40px;
      &_love {
        margin-left: -60px;
      }
    }

    &__title {
      font-size: 24px;
      margin-bottom: 10px;
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &__organizer {
      font-size: 22px;
      &_link {
        font-size: 20px;
      }
    }

    &__bottom {
      padding-top: 10px;
    }
  }
}

@include laptop {
  .footer {
    padding: 60px 0 10px;

    &__top {
      margin-bottom: 10px;
    }

    &__descriptions {
      margin-bottom: 8px;
    }

    &__desc {
      font-size: 32px;
      &_love {
        margin-left: -60px;
      }
    }

    &__title {
      font-size: 18px;
      margin-bottom: 8px;
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    &__organizer {
      font-size: 18px;
      &_link {
        font-size: 18px;
      }
    }

    &__bottom {
      padding-top: 10px;
      &-desc {
        font-size: 12px;
      }
      &-link {
        font-size: 14px;
      }
    }
  }
}

@include tablet {
  .footer {
    padding: 40px 0 10px;

    &__top {
      margin-bottom: 5px;
    }

    &__descriptions {
      margin-bottom: 5px;
    }

    &__desc {
      font-size: 28px;
      &_love {
        margin-left: -40px;
      }
    }

    &__title {
      font-size: 18px;
      margin-bottom: 5px;
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }

    &__organizer {
      font-size: 18px;
      &_link {
        font-size: 22px;
      }
    }

    &__bottom {
      padding-top: 5px;
      &-desc {
        font-size: 10px;
      }
      &-link {
        font-size: 12px;
      }
    }
  }
}

@include tablet {
  .footer {
    padding: 10px 0;
  }
}
