.hero {
  padding-top: 56.25%;
  background: center/cover no-repeat;
  background-image: image-set(
    url("../img/hero.webp") type("image/webp"),
    url("../img/hero.jpg") type("image/jpg")
  );
}
