.questionnaire {
  padding: 140px 0;
  &__title {
    font-weight: 700;
    font-size: 60px;
    font-family: var(--Resphekt);
    margin-bottom: 20px;
  }

  &__desc {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 15px;
  }

  &__desc-strong {
    position: relative;
    font-family: var(--Resphekt);
    font-size: 40px;
    &::after {
      position: absolute;
      left: 0;
      bottom: 3px;
      display: block;
      content: "";
      width: 100%;
      height: 1px;
      background-color: black;
    }
  }

  &__ask {
    text-align: center;
    font-weight: 400;
    font-size: 24px;
  }

  &__link {
    position: relative;
    font-family: var(--Resphekt);
    font-size: 40px;
    transition: color 0.3s ease-in-out;
    &::after {
      position: absolute;
      left: 0;
      bottom: 3px;
      display: block;
      content: "";
      width: 100%;
      height: 1px;
      background-color: black;
      transition: background-color 0.3s ease-in-out;
    }
    @include hover {
      color: var(--hover-link-color);
      &::after {
        background-color: var(--hover-link-color);
      }
    }
    &:active {
      color: var(--active-link-color);
      &::after {
        background-color: var(--active-link-color);
      }
    }
  }
}
