.timer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-left: 150px;
  &__item {
  }

  &__unit {
    text-align: center;
    &_num {
      font-weight: 400;
      font-size: 44px;
      font-family: var(--Nickainley-Normal);
      margin-bottom: -15px;
    }

    &_desc {
      font-weight: 400;
      font-size: 36px;
      font-family: var(--Nickainley-Normal);
    }
  }
}
