@mixin laptop-XL {
  @media (max-width: 1440px) {
    @content;
  }
}

@mixin laptop-L {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: 1000px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 760px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 580px) {
    @content;
  }
}
