  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="msapplication-TileColor" content="#000000" />
  <meta name="theme-color" content="#ffffff" />

  <!-- ! SEO теги -->
  <meta
    name="description"
    content="Сайт приглашение на свадьбу Дарьи и Анатолия"
  />
  <meta
    name="keywords"
    content="сайт приглашение,приглашение, свадьба, на свадьбу, Дарья и Анатолий, Дарья, Анатолий, park hall, 01.09.2024"
  />
  <!-- ? выключить индексацию <meta name="robots" content="none" /> -->

  <!-- ! Технические теги -->
  <meta name='Author' content='Анатолий Блецко'/>
  <meta name='Copyright' content='Анатолий Блецко'/>

  <!-- ! теги для соц. сетей -->
  <!-- локализация сайта, для русскоязычного сайта ru_RU -->
  <meta property="og:locale" content="ru_RU">
  <!-- тип контента, по умолчанию используется article -->
  <meta property="og:type" content="article">
  <!-- заголовок страницы, который будет выводится в записи социальной сети -->
  <meta property="og:title" content="Веб-приглашение на свадьбу">
  <!-- описание страницы -->
  <meta property="og:description" content="С огромной радостью приглашаем вас разделить с нами один из  самых важных и счастливых моментов нашей жизни - день нашей свадьбы!">
  <!-- ссылка на изображение, которое будет публиковаться в записи -->
  <meta property="og:image" content="https://vladlesun.github.io/wedding-web-invitation/img/hero.jpg">
  <!-- ссылка на текущую страницу -->
  <meta property="og:url" content="https://vladlesun.github.io/wedding-web-invitation">
  <!-- название сайта -->
  <meta property="og:site_name" content="Приглашение на свадьбу Дарьи и Анатолия">


  <!-- ! Название сайта -->
  <title>Приглашение на свадьбу Анатолий и Дарьи</title>

  <!-- ! Подключаю favicons -->
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="favicon/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="favicon/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="favicon/favicon-16x16.png"
  />

  <!-- ! Предзагрузка шрифтов -->
  <link
    rel="preload"
    href="fonts/PlayfairDisplay.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="fonts/Geometria-Bold.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="fonts/Geometria-Light.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />

  <!-- ! Подключение стилей и шрифтов -->
  <link rel="stylesheet" href="css/vendor.css" />
  <link rel="stylesheet" href="css/index.css" />
  <script src="js/main.js" defer></script>
</head>
