:root {
  //! Шрифты
  --Calibri: "Calibri-Regular", san-serif;
  --Nickainley-Normal: "Nickainley-Normal", san-serif;
  --Resphekt: "Resphekt", san-serif;

  //! Цвета
  --main-color: #000;
  --main-bg: #fff;
  --main-border: #000;
  --place-wrap-bg: rgba(255, 255, 255, 0.4);
  //! hovers
  --hover-map-color: rgb(229, 225, 230);
  --active-map-color: rgb(229, 225, 230);
  --active-map-bg: #000;
  --hover-link-color: rgb(212, 175, 55);
  --active-link-color: rgb(212, 175, 55);
}
