:root {
  //! Шрифты
  --Calibri: "Calibri-Regular", san-serif;
  --HKGrotesk-Bold: "HKGrotesk-Bold", san-serif;
  --HKGrotesk-Medium: "HKGrotesk-Medium", san-serif;
  --TheSeasons-Bold: "TheSeasons-Bold", san-serif;

  //! Цвета
  --main-color: #000;
  --main-bg: #fff;
}
